.title-div {
  background-color: #333;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-div h1 {
  margin: 0;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  color: white;
}

.navigation-div {
  width: 100%;
  background-color: #5a5c68;
}
.navigation-div ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navigation-div li {
  flex: 1;
}
.navigation-div a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 0;
  font-weight: bold;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
.navigation-div a:hover,
a.active {
  background-color: #ffc107;
  color: #333;
  border-bottom: 4px solid #333;
}
